<!DOCTYPE html>
<html>
  <head>
    <title>Deployment made easy.</title>
    <style type="text/css">
      body { background-color: #222; }
      img {
        display: block;
        margin: 150px auto;
        width: 700px;
      }
    </style>
  </head>
  <body>
    <img src="/images/promo.png">
  </body>
</html>